[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
flake8 = "*"
model-mommy = "*"
pytest-cov = "*"
pytest-django = "*"

[packages]
collectfast = "*"
dj-database-url = "==1.0.0"
django = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-ordered-model = "*"
django-s3-folder-storage = "==0.3"
gunicorn = "*"
heroku = "*"
ipython = "*"
psycopg2-binary = "*"
pytest-django = "*"
python-decouple = "*"
sentry-sdk = "*"

[requires]
python_version = "*"
