[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "==0.4.2"
"psycopg2-binary" = "*"
collectfast = "*"
django-debug-toolbar = "*"
sentry-sdk = "*"
django-ordered-model = "*"
ipython = "*"
django-extensions = "*"
pytest-django = "*"
heroku = "*"
django-s3-folder-storage = "==0.3"

[dev-packages]
"flake8" = "*"
pytest-cov = "*"
codecov = "*"
pytest-django = "*"
model-mommy = "*"

[requires]
python_version = "*"
